/* body {
    margin: 0;
    background: lightgray;
    text-align: center;
    font-family: sans-serif;
    color: #fefefe;
  }
.caroussel-container {
    position: relative;
    width: 320px;
    height: 300px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
    border: 1px solid black;
  }
  
  .caroussel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
    border: 1px solid black;
  }
  .swippers { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
  }
  .swippers:nth-child(1) {
    background:red;
    transform: rotateY(  0deg) translateZ(430px);
  }
  .swippers:nth-child(2) {
    background: blue;
    transform: rotateY( 40deg) translateZ(430px);
  }
  .swippers:nth-child(3) {
    background: teal;
    transform: rotateY( 80deg) translateZ(430px);
  }
  .swippers:nth-child(4) {
    background: yellow;
    transform: rotateY(120deg) translateZ(430px);
  }
  .swippers:nth-child(1) {
    background: black;
    transform: rotateY(160deg) translateZ(430px);
  }
  @keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
  } */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body {
    background: rgba(0, 0, 0, 0.691);
    color: rgba(214, 204, 204, 0.794);
    overflow: hidden;
  }
  .navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
  }
  nav {
    width: 80%;
  }
  .navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.menu {
    margin-left: 10px;
} 
li {
    list-style: none;
    display: flex;
    align-items: center;
}
i {
    display: flex;
    padding-left: 10px;
    cursor: pointer;
}
.navbar-services {
  position: absolute;
  top: 70px;
  left: 365px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 15%;
  transform: translateY(-200px);
  transition: 0.5s;
  opacity: 0;
  z-index: 30;
}
.visibleNavbar {
  opacity: 1;
  transform: translateY(0px);
}
.navbar-services ul {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.navbar-services ul li {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  cursor: pointer;
}
.container {
  position: relative;
}
.lecteur1 {
    position: absolute;
    left: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border: 1px solid rgba(58, 52, 52, 0.251);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.691);
    border-radius: 20px 20px 50px 50px;
    width: 25%;
    height: 400px;
    margin: 100px auto;
    transform: translateY(500px);
    transition: 0.9s;
}
.lecteur1 img {
  width: 284px;
  height: 238px;
  border-radius: 20px 20px 0 0;
}
.lecteurVisibleLove {
  transform: translateY(0); 
}
.btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
}
.btn i {
  font-size: 1.5rem;
}
.btn1 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
}
.btn1 i {
  font-size: 1.5rem;
}
.btn2 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
}
.btn2 i {
  font-size: 1.5rem;
}
.btn3 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
}
.btn3 i {
  font-size: 1.5rem;
}
.btn4 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
}
.btn4 i {
  font-size: 1.5rem;
}
.current-time {
  display: flex;
  font-size: 0.5rem;
  
}
.current-duration {
  margin-top: -5px;
  font-size: .5rem;
  
}
.textLove {
  position: absolute;
  width: 25%;
  height: 300px;
  left: 90px;
  top: 300px;
  animation: text 6s ease;
  /* scale: 0; */
  transform: translateY(600px);
  transition: 1s;
}
.textLove p{
  text-shadow: -1px 0px 8px pink;
  
}
.textHide {
  /* scale: 1; */
  transform: translateY(0);
  transition: 0.8s;
}

@keyframes text {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.5;
  }
}

.lecteur2 {
  position: absolute;
  left: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border: 1px solid rgba(58, 52, 52, 0.251);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.691);
  border-radius: 20px 20px 50px 50px;
  width: 25%;
  height: 400px;
  margin: 100px auto;
  transform: translateY(500px);
  transition: 0.9s;
}
.lecteur2 img {
  width: 284px;
  height: 238px;
  border-radius: 20px 20px 0 0;
}
.lecteurVisibleO {
  transform: translateY(0);
  transition: 0.8s;
}
.textOne {
  position: absolute;
  width: 25%;
  height: 400px;
  left: 90px;
  top: 150px;
  animation: text 6s ease;
  /* scale: 0; */
  transform: translateY(600px);
  transition: 1s;
}
.textOne p {
  font-size: .70rem;
}
.textOneHide {
  transform: translateY(0);
  transition: 0.8s;
}
.lecteur3 {
  position: absolute;
  left: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border: 1px solid rgba(58, 52, 52, 0.251);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.691);
  border-radius: 20px 20px 50px 50px;
  width: 25%;
  height: 400px;
  margin: 100px auto;
  transform: translateY(500px);
  transition: 0.9s;
}
.lecteur3 img {
  width: 284px;
  height: 238px;
  border-radius: 20px 20px 0 0;
}
.lecteurVisibleJ {
  transform: translateY(0);
  transition: 0.8s;
}
.textJammin {
  position: absolute;
  width: 25%;
  height: 500px;
  left: 90px;
  top: 100px;
  animation: text 6s ease;
  /* scale: 0; */
  transform: translateY(600px);
  transition: 1s;
}
.textJammin p {
  font-size: .65rem;
}
.textJamminHide {
  transform: translateY(0);
  transition: 0.8s;
}
.lecteur4 {
  position: absolute;
  left: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border: 1px solid rgba(58, 52, 52, 0.251);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.691);
  border-radius: 20px 20px 50px 50px;
  width: 25%;
  height: 400px;
  top: 30px;
  /* margin: 100px auto; */
  transform: translateY(500px);
  transition: 0.9s
}
.lecteur4 img {
  width: 284px;
  height: 238px;
  border-radius: 20px 20px 0 0;
}
.lecteurVisibleC {
  transform: translateY(0);
  transition: 0.8s;
}
.textCould {
  position: absolute;
  width: 25%;
  height: 500px;
  left: 90px;
  top: 200px;
  animation: text 6s ease;
  /* scale: 0; */
  transform: translateY(400px);
  transition: 1s;
}
.textCould p {
  font-size: 1rem;
}
.textCouldHide {
  transform: translateY(0);
  transition: 0.8s;
}
.controls1, .controls2, .controls3, .controls4 {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle1, .circle2, .circle3, .circle4 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50px; 
    padding-right: 5px;
    margin: 0 20px 10px 20px;
}
.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover  {
    background: teal;
}
.circle1 i, .circle2 i , .circle3 i , .circle4 i {
  padding-right: 5px;
}
.lecture i {
    font-size: 2rem;
    padding: 10px;
}


.backward1 button, .backward2 button, .backward3 button, .backward4 button {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.forward1 button, .forward2 button, .forward3 button , .forward4 button   {
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-left: 2px;
}
.range1, .range2, .range3, .range4 {
    position: relative;
    width: 100%;
    
 
}
#progress1 {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.current-duration {
  position: absolute;
  top: 19px;
  right: 1px;
}
#progress2 {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.current-duration {
  position: absolute;
  top: 19px;
  right: 1px;
}
#progress3 {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.current-duration {
  position: absolute;
  top: 19px;
  right: 1px;
}
#progress4 {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.current-duration {
  position: absolute;
  top: 19px;
  right: 1px;
}
