
.gard-container {
  border: 1px solid red;
  height: 100vh;
  overflow: hidden;

  .logo {
      position: relative;
      width:100%;
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 300px 0 0 0;
      animation: logo 5s ease-in-out forwards;
      
  
      @keyframes logo {
        0% {
          transform: translateX(-2000px);
          opacity: 0;
        }
      }
      
      img{
          width: 180px;
          animation: img 10s ease forwards, zoom 4s ease-in-out infinite;
          z-index: 2;
          animation-delay: 2s, 3s;
          
  
          @keyframes zoom {
            0% {
              transform: translateY(-5px);
            }
            50% {
              transform: translateY(5px);
            }
            100% {
              transform: translateY(-5px);
            }
          }
  
      }
       
      h1 {
          font-family: $font-1;
          letter-spacing: 2px;
          font-size: 3rem;
          z-index: 3;
      }
  }
  
  .text-dynamic {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      width: 60%;
      height: 100px;
      margin: 0 auto;
      animation: text 7s ease forwards;
  
      @keyframes text {
        0% {
          transform: translateY(2000px);
          opacity: 0;
        }
      }
  
      span {
        display: flex;
          width: 30%;
          font-size: 3.6rem;
          justify-content: center;
          align-items: center;
      }
  
      #text-target {
          
          width: 480px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;
          overflow: hidden;
          perspective: 200px;
          text-shadow: 2px 2px 2px black, 2px 2px 1em red, 2px 2px 0.9em teal;
          animation: color 30s alternate infinite;
          border-radius: 50px;
          
      }
      .word {
          position: absolute;
        }
        @keyframes color {
          0% {
            color: teal;
          }
          50% {
            color: teal;
          }
          100% {
            color: teal;
          }
        }
      .letter {
          transform: translateZ(300px);
        }
      @keyframes anim {
          25% {
            transform: translateZ(0px);
            opacity: 1;
          }
          60% {
            opacity: 0;
            transform: translateZ(-280px) translateX(200px);
          }
        }
  }
  
  .arrow {
      
      a {
          position: absolute;
          top: 50%;
          transform: translate(50%, 50%);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          font-size: 3rem;
          color: rgba(132, 124, 124, 0.574);
          user-select: none;
          transition: 0.4s ease;
  
          &:hover {
              font-size: 4rem;            
          }
  
      }
      .right {
          right: 40px;
      }
  
      // .left {
      //     left: -20px;
      // }
  }
  
  .icon {
      display: flex;
      justify-content: flex-end;
      margin-top: 100px;
      margin-right: 20px;
      height: 200px;
      align-items: center;
  
      a {
          
          padding: 20px;
      }
      
      i {
          font-size: 4rem;
          opacity: 0.2;
          color: rgb(68, 146, 146);
  
          &:hover {
              scale: 1.2;
              transition: 0.8s ease-in;
          }
      }
  }
}

.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(255, 166, 0, 0.6);
  opacity: 0;
  animation: bubble 8s forwards;
  filter: hue-rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@keyframes bubble {
  to {
    top: -250px;
    left: var(--left);
    opacity: 0.3;
    filter: hue-rotate(120deg);
  }
}
