@font-face {
    font-family: font1;
    src: url(../style/assets/fonts/Roboto-MediumItalic.ttf);
}



$font1: "font1", sans serif;





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
    overflow: hidden;
}