@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    /* background: rgba(75, 123, 137, 0.528); */
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    overflow-x: hidden;
}
h2 {
    margin: 20px 0 0 20px;
}
.navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    /* background: rgba(57, 51, 51, 0.533); */
}
.logo {
    width: 40%;
    padding-left: 20px;
    font-size: 1.5rem;
    animation: logo 5s ease-in-out infinite ;
    color: rgba(69, 206, 206, 0.759);
}
.menu {
    width: 80%;
}
ul {
    display: flex;
    justify-content: space-around;
    
}
ul li {
    list-style: none;
}
ul li a {
    display: inline-block;
    animation-delay: calc(.2s * var(--i));
    animation: nav .5s ease forwards;
    opacity: 0;
    color: rgba(69, 206, 206, 0.759);
    text-decoration: none;
    letter-spacing: 2px;
}
ul li::after {
    content: "";
    display: block;
    height: 15px;
    background: rgba(69, 206, 206, 0.759);
    width: 15px;
    border-radius: 50px;
    margin: 0 auto;
    transform: translateX(-30px);
    opacity: 0;
    transition: 0.2s;
}
ul li:hover {
    /* font-weight: bold; */
    transition: 0.5s;
    letter-spacing: 1px;
    text-shadow: 0 0 10px;
    transition: 0.9s ease-in-out;
}
ul li:hover::after {
    opacity: 1;
    transform: translateX(0px);
    box-shadow:0px 0px 30px rgba(69, 206, 206, 0.759);
}
.textDefil {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    color: rgba(69, 206, 206, 0.759);
    text-shadow: 5px 5px 15px black;
}
.img {
    position: relative;
    
}
.img-content {
    width: 100%;
    opacity: 0.5;
    overflow-x: hidden;
}
.img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-title h1 {
    font-size: 4rem;
    color: rgba(69, 206, 206, 0.759);
}
.moveReserve {
    position: absolute;
    transform: translateX(120%);
    transition: 0.9s ease;   
}
.reservation {
    position: absolute;
    width: 60%;
    height: 920px;
    top: 200px;
    left: -900px;
    z-index: 100000;
    transition: 0.9s ease-in-out;
    
}
.reserve-container {
    width: 60%;
    height: 880px;
    margin: 20px auto; 
    background: rgba(0, 128, 128, 0.731);
    border-radius: 30px; 
    overflow: hidden;
}
.conatiner-reserve-close {
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0 0;  
}
.close-reserve {
    padding: 5px;
    font-weight: bold;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.reserve-container h2 {
    display: flex;
    justify-content: center;
    
}
#chooseDate {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#date {
    padding: 20px 60px;
    text-align: center;
    border-radius: 10px;
    background: transparent;
    border: none;
    font-size: 2rem; 
}
.adultPrice, .childPrice {
    color: black;
    font-size: 1.2rem;
}
.reserve-identity, .reserve-email {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
    margin: 20px 0;
}
.reserve-label, .label-email {
    font-size: 1.2rem;
    color: rgba(78, 72, 72, 0.729);
    margin-bottom: 10px;
    text-shadow: 0 0 3px;
}
.reserve-place, .email-input {
    width: 60%;
    height: 50px;
    font-size: 1.2rem;
    opacity: 0.8;
    padding-left: 10px;
    box-shadow: 0 0 10px;
    border: none;
    border-radius: 10px;
}

.reserve-number {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reserve-number p {
    font-size: 1.5rem;
}
#select-adult, #select-enfant  {
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    background: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
}
.prixTotalAdult, .prixTotalEnfant {
    display: flex;
    align-items: center;
}
#totalAdult, #totalEnfant {
    font-size: 1.2rem;
    color: black;
    padding-left: 10px;
}
.prix-total-Reservation {
    padding: 0 20px 0 0;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
#ptr {
   border: 2px solid black;
   padding: 20px;
   color: black;
   font-size: 1.1rem;
   border-radius: 10px;
}
.validate {
    margin-top: 80px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.btn-valide, .btn-annule {
    padding: 20px 30px;
    border-radius: 20px;
    cursor: pointer;
}
.btn-valide:hover {
    background: green;
    transition: 0.4s ease;
    color:white;
}
.btn-annule:hover {
    background: red;
    transition: 0.4s ease;
    color:white;
}
.boutonBtn {
    position: relative;
}
.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -850%);
    cursor: pointer;
    background: transparent;
    padding: 20px;
    border: none;
    color: rgba(69, 206, 206, 0.759);
    font-size: 1.2rem;
    box-shadow: 0 0 10px black;
}

.rect {
    position: absolute;
    top: -528px;
    left: 900px;
    z-index: 60;
    border-top: 5px solid rgba(69, 206, 206, 0.759);
    width: 30px;
    height: 10px;
}
.btn:hover {
    color: rgb(54, 49, 49);
    border-radius: 20px;
    transition: 0.9s ease-in-out;
    box-shadow: 0 0 10px white;
}
.rectangle {
    transform: translateX(-130px);
    transition: 1s ease-in-out;
}
.galerie-burger {
    position: relative;
    
    height: 400px;
    /* background: rgba(44, 69, 77, 0.528); */
}
.galerie-burger h2 {
    display: flex;
    align-items: center;
    /* margin: 20px; */
    /* color: rgba(69, 206, 206, 0.759); */
}
.star {
    margin: 10px;
    width: 30px;
    height: 30px;
    animation: star 5s ease infinite;
}
.left {
    position: absolute;
    top: 130px;
    left: 80px;
    transform: rotate(180deg);
    color: rgba(69, 206, 206, 0.759);
}
.right {
    position: absolute;
    top: 130px;
    right: 80px;
    color: rgba(69, 206, 206, 0.759);
}
.left:hover, .right:hover {
    cursor: pointer;
    background: rgba(132, 122, 122, 0.343);
    transition: 0.8s ease-in-out;
    box-shadow: 0 0 10px rgba(57, 51, 51, 0.533);
    border-radius: 20px;
}
.carte-burger {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(75, 123, 137, 0.528); */
    
}
span {
    color: rgb(151, 144, 144);
    font-size: 0.8rem;
}
.bouton1 {
    position: absolute;
    top: -80px;
    padding: 20px;
    border-radius: 30px;
    background: rgb(70, 98, 104);
    border: 1px solid black;
    box-shadow: 0 0 8px ;
    
}
.bouton1:hover {
    color: white;
    cursor: pointer;
    transition: 0.8s ease-in;
}
.bouton {
    padding: 20px;
    border-radius: 30px;
    background: rgb(70, 98, 104);
    border: 1px solid black;
    box-shadow: 0 0 8px ;
}
.bouton:hover {
    color: white;
    cursor: pointer;
    transition: 0.8s ease-in;
}

.photo-swiper {
    transform: translateX(2000px);
    width: 70%;
    height: 200px;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
    /* flex-shrink: 0; */
    gap: 30px;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}
.photo-swiper img {
    box-shadow: 0 0 10px;
    width: 280px;
    height: 220px;
}
.img-content1, .img-content2, .img-content3, .img-content4, .img-content5, .img-content6, .img-content7, .img-content8, .img-content9, .img-content10 {
    position: relative;
}

.pContent1, .pContent2, .pContent3, .pContent4, .pContent5, .pContent6, .pContent7, .pContent8, .pContent9, .pContent10 {
    position: absolute;
    top: 0;
    z-index: -10;
    text-shadow: 0 0 2px black;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: bold;  
}


.img1:hover, .img2:hover, .img3:hover,.img4:hover, .img5:hover, .img6:hover, .img7:hover, .img8:hover, .img9:hover, .img10:hover {
    opacity: 0.05;
    cursor: pointer;
    
}
.biere {
    margin: 50px 100px;
    /* width: 100%;
    height: 400px; */
    display: flex;
    gap: 40px;
    /* background: rgba(75, 123, 137, 0.528); */
}
.biere h2 {
    margin: 20px 20px;
    display: flex;
    color: rgba(69, 206, 206, 0.759);
}
.str {
    margin-top: -1px;
}
.texte-biere {
    margin-left: 50px;
    width: 50%;
    border: none;
}
.biere p {
    margin: 0 20px;
    width: 60%;
    margin-bottom: 50px;
    letter-spacing: 2px;
    line-height: 25px;
    
}
.img-biere {
    display: flex;
    
    margin-left: 240px;
    box-shadow: 0 0 10px black;
}
.img-biere img {
    width: 500px;
    object-fit: cover;
    justify-content: end;
}
.galerie-biere {
    position: relative;
    height: 400px;
    /* background: rgba(75, 123, 137, 0.528); */
}
.galerie-biere h2 {
    display: flex;
    align-items: center;
    padding-left: 20px;
    /* color: rgba(69, 206, 206, 0.759); */
}
.swiper-biere {
    
    transform: translateX(-2000px);
    width: 970px;
    height: 220px;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
    /* flex-shrink: 0; */
    gap: 50px;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    
}
.swiper-biere img {
    box-shadow: 0 0 10px;
    width: 280px;
    height: 200px;
    
}
.img-leffe, .img-skol, .img-1664, .img-guinness, .img-hoegaarden, .img-carlsberg, .img-budweiser {
    position: relative;
}
.leffep, .b1664p, .skolp, .guinnessp, .hoegaardenp, .budweiserp, .carlsbergp  {
    position: absolute;
    top: 0;
    z-index: -3;
    text-shadow: 0 0 2px black;
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
    width: 280px;
    height: 200px; 
}

.leffe:hover, .skol:hover, .guinness:hover, .b1664:hover, .hoegaarden:hover, .budweiser:hover, .carlsberg:hover {
    opacity: 0.05;
    cursor: pointer;
}
.footer {
    margin-top: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 40% 50%;
    background: rgba(207, 192, 192, 0.533);
}
.titre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5rem;
    color: rgba(69, 206, 206, 0.759);
}

.dimanche {
    padding-left: 170px;
}

.footer h1 {
    margin: 50px 0 0 20px ;

}
.footer p {
    margin: 20px ;
}
.footer-right {
    
    
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    
}
.inputFooter {
    height: 50px;
    width: 50%;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 0 10px;
    border: none;
}
.inputFooter::placeholder {
    color: white;
    padding-left: 10px;
}
.textarea {
    border-radius: 10px;
    margin: 20px 0 0 50px;
    width: 50%;
    height: 100px;
    background: transparent;
    box-shadow: 0 0 10px;
    border: none;
    resize: none;
    color: white;
}
.textarea::placeholder {
    color: white;
    padding: 5px 0 0 10px;
}
.btn2 {
    border-radius: 50px;
    width: 100px;
    height: 50px;
    margin: 20px 0 20px 50px;
    background: transparent;
    color: rgba(69, 206, 206, 0.759);
    box-shadow: 0 0 10px;
    border: none;
    cursor: pointer;
}
.carte {
    position: absolute;
    top: -165px;
    transform: translateX(-2000px);
    
    z-index: 100000;
    
}
.carteBiere {
    width: 60%;
    margin: 0 auto;
    /* margin-left: 250px; */
    position: absolute;
    transform: translateX(-2000px);
    
    z-index: 100000;
}
.croix {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    /* background: black; */
    border-radius: 20px;
}
.croix:hover, .croixBox:hover{
    animation: croix 1s ease-in-out;
}
.croixBox {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    /* background: black; */
    border-radius: 20px;
}

.carteMove {
    transform: translateX(150px) ;
    transition: 0.9s ease-in-out;
    
}   

.carteMoveBox {
    transform: translateX(300px) ;
    transition: 0.9s ease-in-out;
}
.titre-carte {
    margin-top: 20px;
    text-align: center;
    padding-right: 90px;
    font-size: 3rem;
    color: white;
}
.titre-carte-biere {
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
    color: black;
}
.container {
    position: relative;
    margin: 100px 100px;
    border-radius: 20px;
    width: 80%;
    height: 700px;
    display: flex;
    background: rgb(219, 205, 205);
    box-shadow: 0 0 10px ;

}
.containerBiere {
    position: relative;
    margin: 100px 60px;
    border-radius: 20px;
    /* width: 80%; */
    height: 700px;
    display: flex;
    background: rgb(219, 205, 205);
    overflow: hidden;
}
.menu-left, .menu-right{
    margin: 0 auto;
}
.menu-leftBiere, .menu-rightBiere{
    margin: 0 auto;
}
.h2 {
    font-size: 0.9rem;
}
#left {
    width: 40%;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(10, 70px);
    grid-template-columns: 90% 10%;
}
#leftBiere {
    width: 40%;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(10, 70px);
    grid-template-columns: 80% 20%;
}
#right {
    width: 40%;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(10, 70px);
    grid-template-columns: 90% 10%;
}
#rightBiere {
    width: 40%;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(10, 70px);
    grid-template-columns: 80% 20%;
}
.box {
    
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.prix {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box, .prix {
    border: 2px solid black;
}
@keyframes nav {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes logo {
    0% {
        transform:translateX(0);
    }
    50% {
        transform:translateX(40px);
    }
    100% {
        transform:translateX(0);
    }
}
@keyframes star {
    0% {
        scale: 0;
    }
    75% {
        box-shadow: 0 0 10px;
    }
}
@keyframes croix {
    0% {
        transform: rotate(180deg);
    }
}

