@import url('https://fonts.googleapis.com/css2? family= Alkalami & family= Arima:wght@100;400 & family= Cardo:ital,wght@0,700;1,400 & family= Ms+ Madi & famille= Origan:ital@1 & famille= Poppins & famille= Roboto:wght@300 & display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(70, 98, 104);
    font-family: "cardo", sans-serif;
}
.navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: rgba(57, 51, 51, 0.533);
}
.logo {
    width: 40%;
    padding-left: 20px;
    font-size: 1.5rem;
    animation: logo 5s ease-in-out infinite ;
    color: rgba(69, 206, 206, 0.759);
}
.menu {
    width: 80%;
}
ul {
    display: flex;
    justify-content: space-around;
    animation-delay: calc(.8s * var(--i));
    animation: nav 5s ease forwards;
}
ul li {
    list-style: none;
    cursor: pointer;
    color: rgba(69, 206, 206, 0.759);
}
ul li::after {
    content: "";
    display: block;
    height: 10px;
    background: rgba(69, 206, 206, 0.759);
    width: 10px;
    border-radius: 50px;
    margin: 0 auto;
    transform: translateX(-10px);
    opacity: 0;
    transition: 0.2s;
}
ul li:hover {
    font-weight: bold;
    transition: 0.5s;
    letter-spacing: 1px;
}
ul li:hover::after {
    opacity: 1;
    transform: translateX(0px);
    box-shadow:0px 0px 30px rgba(69, 206, 206, 0.759);
}
.textDefil {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    color: rgba(69, 206, 206, 0.759);
    text-shadow: 5px 5px 15px black;
}
.img {
    position: relative;
}
.img-content {
    opacity: 0.5;
}
.img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-title h1 {
    font-size: 4rem;
    color: rgba(69, 206, 206, 0.759);
}
.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 300%);
    cursor: pointer;
    background: transparent;
    padding: 20px;
    border: none;
    color: rgba(69, 206, 206, 0.759);
    font-size: 1.2rem;
    box-shadow: 0 0 10px black;
}
.btn::after {

}
@keyframes nav {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes logo {
    0% {
        transform:translateX(0);
    }
    50% {
        transform:translateX(40px);
    }
    100% {
        transform:translateX(0);
    }
}