@import url('https://fonts.googleapis.com/css2? family= Alkalami & family= Arima:wght@100;400 & family= Cardo:ital,wght@0,700;1,400 & family= Ms+ Madi & famille= Origan:ital@1 & famille= Poppins & famille= Roboto:wght@300 & display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(70, 98, 104);
    font-family: "cardo", sans-serif;
    border: 1px solid red inset;
}
.navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: rgba(57, 51, 51, 0.533);
}
.logo {
    width: 40%;
    padding-left: 20px;
    font-size: 1.5rem;
    animation: logo 5s ease-in-out infinite ;
    color: rgba(69, 206, 206, 0.759);
}
.menu {
    width: 80%;
}
ul {
    display: flex;
    justify-content: space-around;
    
}
ul li {
    list-style: none;
}
ul li a {
    display: inline-block;
    animation-delay: calc(.2s * var(--i));
    animation: nav .5s ease forwards;
    opacity: 0;
    color: rgba(69, 206, 206, 0.759);
    text-decoration: none;
}
ul li::after {
    content: "";
    display: block;
    height: 15px;
    background: rgba(69, 206, 206, 0.759);
    width: 15px;
    border-radius: 50px;
    margin: 0 auto;
    transform: translateX(-10px);
    opacity: 0;
    transition: 0.2s;
}
ul li:hover {
    /* font-weight: bold; */
    transition: 0.5s;
    letter-spacing: 1px;
    text-shadow: 0 0 10px;
    transition: 0.9s ease-in-out;
}
ul li:hover::after {
    opacity: 1;
    transform: translateX(0px);
    box-shadow:0px 0px 30px rgba(69, 206, 206, 0.759);
}
.textDefil {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    color: rgba(69, 206, 206, 0.759);
    text-shadow: 5px 5px 15px black;
}
.img {
    position: relative;
}
.img-content {
    width: 100%;
    opacity: 0.5;
    overflow-x: hidden;
}
.img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-title h1 {
    font-size: 4rem;
    color: rgba(69, 206, 206, 0.759);
}
.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 300%);
    cursor: pointer;
    background: transparent;
    padding: 20px;
    border: none;
    color: rgba(69, 206, 206, 0.759);
    font-size: 1.2rem;
    box-shadow: 0 0 10px black;
}
.btn::after {

}
.galerie-burger {
    position: relative;
    height: 400px;
}
.galerie-burger h2 {
    display: flex;
    align-items: center;
    /* margin: 20px; */
    color: rgba(69, 206, 206, 0.759);
}
.star {
    margin: 10px;
    width: 30px;
    height: 30px;
    animation: star 5s ease infinite;
}
.left {
    position: absolute;
    top: 130px;
    left: 80px;
    transform: rotate(180deg);
    color: rgba(69, 206, 206, 0.759);
}
.right {
    position: absolute;
    top: 130px;
    right: 80px;
    color: rgba(69, 206, 206, 0.759);
}
.left:hover, .right:hover {
    cursor: pointer;
    background: rgba(57, 51, 51, 0.533);
    transition: 0.8s ease-in-out;
    box-shadow: 0 0 10px rgba(57, 51, 51, 0.533);
    border-radius: 20px;
}
.carte-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    
}
.bouton1 {
    padding: 20px;
    border-radius: 30px;
    background: rgb(70, 98, 104);
    border: 1px solid black;
    box-shadow: 0 0 8px ;
    
}
.bouton1:hover {
    color: white;
    cursor: pointer;
    transition: 0.8s ease-in;
}
.bouton {
    padding: 20px;
    border-radius: 30px;
    background: rgb(70, 98, 104);
    border: 1px solid black;
    box-shadow: 0 0 8px ;
}
.bouton:hover {
    color: white;
    cursor: pointer;
    transition: 0.8s ease-in;
}
.photo {
    
    width: 70%;
    margin: 50px auto;
}
.photo-swiper {
    overflow-x: hidden;
    display: flex;
    flex-shrink: 0;
    gap: 40px;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}
.photo-swiper img {
    box-shadow: 0 0 10px;
}
.biere {
    height: 400px;
    display: flex;
    margin: 50px 0px;
    background: rgba(67, 84, 89, 0.528);
}
.biere h2 {
    margin: 20px 20px;
    display: flex;
    color: rgba(69, 206, 206, 0.759);
}
.str {
    margin-top: -1px;
}
.biere p {
    margin: 0 20px;
    width: 60%;
    margin-bottom: 50px;
    letter-spacing: 2px;
    
}
.img-biere {
    display: flex;
    margin-right: 10%;
    

}
.img-biere img {
    width: 500px;
    object-fit: cover;
    
}
.galerie-biere {
    position: relative;
    height: 400px;
}
.galerie-biere h2 {
    display: flex;
    align-items: center;
    margin: 20px;
    color: rgba(69, 206, 206, 0.759);
}
.img-bieres {
    display: flex;
    overflow-x: hidden;
    width: 70%;
    margin: 50px auto;
    gap: 40px;
    scroll-behavior: smooth;
}
.img-bieres img {
    width: 280px;
    height: 200px;
}
.footer {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 40% 50%;
    background: rgba(57, 51, 51, 0.533);
}
.titre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5rem;
    color: rgba(69, 206, 206, 0.759);
}

.dimanche {
    padding-left: 170px;
}

.footer h1 {
    margin: 50px 0 0 20px ;

}
.footer p {
    margin: 20px ;
}
.footer-right {
    
    
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    
}
input {
    height: 50px;
    width: 50%;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0 0 10px;
    border: none;
}
.textarea {
    border-radius: 10px;
    margin: 20px 0 0 50px;
    width: 50%;
    height: 100px;
    background: transparent;
    box-shadow: 0 0 10px;
    border: none;
    resize: none;
}
.btn2 {
    border-radius: 50px;
    width: 100px;
    height: 50px;
    margin: 20px 0 20px 50px;
    background: transparent;
    color: rgba(69, 206, 206, 0.759);
    box-shadow: 0 0 10px;
    border: none;
    cursor: pointer;
}
.carte {
    position: absolute;
    transform: translateX(-2000px);
    
    z-index: 100000;
    
}
.carteBiere {
    width: 90%;
    margin-top: -200px;
    margin-left: 250px;
    position: absolute;
    transform: translateX(-2000px);
    
    z-index: 100000;
}
.croix {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background: black;
    border-radius: 20px;
}
.croixBox {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background: black;
    border-radius: 20px;
}
.carteMove {
    transform: translateX(0) ;
    transition: 0.9s ease-in-out;
    
   
}
.carteMoveBox {
    transform: translateX(0) ;
    transition: 0.9s ease;
    opacity: 1;
}

.titre-carte {
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    color: white;
}
.titre-carte-biere {
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    color: white;
}
.container {
    position: relative;
    margin: 100px auto;
    border-radius: 20px;
    width: 80%;
    height: 700px;
    display: flex;
    background: rgb(112, 104, 104);
    box-shadow: 0 0 10px ;
}
.containerBiere {
    position: relative;
    margin: 100px 60px;
    border-radius: 20px;
    width: 80%;
    height: 700px;
    display: flex;
    background: rgb(112, 104, 104);
}
.menu-left, .menu-right{
    margin: 0 auto;
}
.menu-leftBiere, .menu-rightBiere{
    margin: 0 auto;
}
.h2 {
    font-size: 1rem;
}
#left {
    width: 40%;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(10, 70px);
    grid-template-columns: 90% 10%;
}
#leftBiere {
    width: 40%;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(10, 70px);
    grid-template-columns: 90% 10%;
}
#right {
    width: 40%;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(10, 70px);
    grid-template-columns: 90% 10%;
}
#rightBiere {
    width: 40%;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(10, 70px);
    grid-template-columns: 90% 10%;
}
.box {
    
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.prix {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box, .prix {
    border: 2px solid black;
}
@keyframes nav {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes logo {
    0% {
        transform:translateX(0);
    }
    50% {
        transform:translateX(40px);
    }
    100% {
        transform:translateX(0);
    }
}
@keyframes star {
    0% {
        scale: 0;
    }
    75% {
        box-shadow: 0 0 10px;
    }
}
