.boxContainer {
    width: 100%;
    min-height: 560px;
    background: white;
    position: absolute;
    left: 0;
    top: 100px;


    .boxContent {
        background: white;
        display: flex;
        border-top: 2px solid black;
        margin: 0 11%;
        min-height: 500px;
        padding: 50px 0;

        .content {
            margin: 0 20px;
            display: grid;
            grid-template-rows: repeat(11, 40px) ;
            align-items: center;

            h1 {
                font-family: "font1";
                font-size: 1.5rem;
            }
            li {
                color: rgb(123, 115, 115);
                font-family: "font2";
                transition: 0.5s ease-in-out;

                &:hover {
                    background: black;
                    color: white;
                    transition: 0.5s ease-in-out;
                }
            }
        }
     }
}
