.navbar {
    display: flex;
    position: relative;
    
    .nav {
        width: 60%;
        height: 60px;
        

        ul {
            height: 60px;
            @include space-evenly;
            

            li {
                font-size: "font1";
                height: 60px;
                list-style: none;
                padding: 21px 61px;
                font-size: 0.9rem;
                color: $color1;
                letter-spacing: 1px;

                &:hover {
                    background: $color1;
                    color: $color2;
                    transition: 0.7s;
                    cursor: pointer;
                }
                }  

                
        }
    }

    .icons {
        width: 40%;
        @include end;
        
        i {
            color: $color1;
            font-size: 1.5rem;
            margin: 0 40px 0 0;
            cursor: pointer;

            &:hover {
                scale: 1.5;
                transition: 0.3s ease-in-out;
            }
        }

    }

   
}
