* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    /* overflow: hidden;   */
}
.navbar {
    display: flex;
    justify-content: space-between;
    
}
.menu {
    height: 80px;
    width: 30%;
    animation: dada 5s ease;
}
.nav-icon {
    height: 80px;
    width: 30%;
    animation: dada 7s ease;
}
ul {
    display: flex;
}
.ul-menu {
    height: 80px;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 2;
    gap: 10px;
}
.ul-menu li {
    cursor: pointer;
}

.ul-icon {
    height: 80px;
    justify-content: end;
    list-style: none;
    align-items: center;
    margin-right: 30px;  
}
.ul-icon li {
    padding-left: 20px;
    cursor: pointer;
}
.logo {
    margin-top: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    
}
.logo img {
    width: 204px;
    height: 120px;
    animation: logo 15s ease;
    cursor: pointer;
}
.title {
    display: flex;
    flex-direction: column;
}
.title h1 {
    text-align: center;
    font-size: 6em;
    animation: titre 4s ease;
    
    
}
.title h2 {
    text-align: center;
    font-size: 6em;
    animation: sousTitre 4s ease; 
    color: transparent;
    background-color: transparent;
    -webkit-text-stroke:  2px white;
    letter-spacing: 5px;
}
.sidebar {
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.648);
    /* overflow: visible; */
    left: -250px;
    transition: 0.9s;
    
}
.toggle_btn {
    position: absolute;
    top: 32px;
    left: 200px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.toggle_btn span {
    display: block;
    width: 40px;
    height: 5px;
    background: #fff;
    margin-top: 8px;
    transform: 0.3s;
}
.sidebar.active {
    left: 0;
}
.active span {
    position: absolute;
    top: 10px;
}
.active span:nth-child(1) {
    transform: rotate(45deg);
}
.active span:nth-child(2) {
    display: none;
}
.active span:nth-child(3) {
    transform: rotate(-45deg);
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    

}
.sidebar ul li {
    cursor: pointer;
}
.container-img {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 780px;
    gap: 5px;
}
.img1 {
    height: auto;
    background-image: url("img/1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: img 6s;
}
.img2 {
    height: auto;
    background-image: url("img/2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    animation-delay: 4s;
    animation: img 10s;

}
.img3 {
    height: auto;
    background-image: url("img/3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    animation-delay: 4s;
    animation: img 14s;
}


@keyframes dada {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes logo {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
@keyframes img {
    0% {
        transform: translateY(800px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes imgCenter {
    0% {
        transform: translateY(800px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes titre {
    0% {
        transform: translateX(-1800px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes sousTitre {
    0% {
        transform: translateX(1800px);
    }
    100% {
        transform: translateX(0);
    }
}
@media (max-width: 1200px) {
    .sidebar {
        left: -250px;
    }
    .ul-menu li {
        font-size: 10px;
    }
    .ul-icon li {
        font-size: 10px;
    }
    .title h1, .title h2 {
        font-size: 30px;
        /* color: white;
        font-weight: 300; */
    }
    .title h2 {
        -webkit-text-stroke: 2px white;
    }
    .container-img {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .img1 {
        width: 50%;
        justify-content: center;
        height: 100vh;
        animation: none;
        background-size: cover;
    }
    .img2 {
        width: 50%;
        height: 100vh;
        animation: none;
    }
    .img3 {
        width: 50%;
        height: 100vh;
        animation: none;
    }
}
@media (max-width: 1100px) {
    body {
        overflow: visible;
    }
    .menu {
        margin-left: 30px;
    }
    .ul-menu li {
        font-size: 10px;
    }
    .ul-icon li {
        font-size: 10px;
    }
}
@media (max-width: 800px) {
    body {
        overflow: visible;
    }
    .ul-menu li {
        font-size: 10px;
    }
    .ul-icon li {
        font-size: 10px;
    }
    .container-img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }
    .img1, .img2, .img3 {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 700px) {
    body {
        overflow: visible;
    }
    .container-img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }
    .img1, .img2, .img3 {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 600px) {
    .sidebar {
        left: -195px;
    }
    body {
        overflow: visible;
        min-height: 100vh;
    }
    .logo img {
        width: 104px;
        height: 60px;
    }
    .title h1 {
        font-size: 1.2rem;
    }
    .title h2 {
        font-size: 1.2rem;
    }
    
    .menu {
        opacity: 0;
        animation: none;
    }
    .container-img {
        display: block;
        padding: 0 30%;
        
    }
    .img1 {

        width: 250px;
        height: 300px;
        background-size: cover;
        
    }
    .img2 {
        width: 250px;
        height: 300px;
        
    }
    .img3 {
        width: 250px;
        height: 380px;
        background-size: cover;
    }
}
    

