* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    /* overflow: hidden;  */
}
.navbar {
    display: flex;
    justify-content: space-between;
    
}
.menu {
    height: 80px;
    width: 30%;
    animation: dada 5s ease;
}
.nav-icon {
    height: 80px;
    width: 30%;
    animation: dada 7s ease;
}
ul {
    display: flex;
}
.ul-menu {
    height: 80px;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 2;
    gap: 10px;
}
.ul-menu li {
    cursor: pointer;
}
.toggle_btn {
    position: absolute;
    top: 32px;
    left: 60px;
    display: none;
}
.toggle_btn i {
    font-size: 3em;
}
.ul-icon {
    height: 80px;
    justify-content: end;
    list-style: none;
    align-items: center;
    margin-right: 30px;  
}
.ul-icon li {
    padding-left: 20px;
    cursor: pointer;
}
.logo {
    margin-top: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    
}
.logo img {
    width: 204px;
    height: 120px;
    animation: logo 15s ease;
    cursor: pointer;
}
.title {
    display: flex;
    flex-direction: column;
}
.title h1 {
    text-align: center;
    font-size: 6em;
    animation: titre 4s ease;
    
    
}
.title h2 {
    text-align: center;
    font-size: 6em;
    animation: sousTitre 4s ease; 
    color: transparent;
    background-color: transparent;
    -webkit-text-stroke:  2px white;
    letter-spacing: 5px;
}
.container-img {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 780px;
    gap: 5px;
}
.img1 {
    height: auto;
    background-image: url("img/1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: img 6s;
}
.img2 {
    height: auto;
    background-image: url("img/2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    animation-delay: 4s;
    animation: img 10s;

}
.img3 {
    height: auto;
    background-image: url("img/3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    animation-delay: 4s;
    animation: img 14s;
}
.sidebar {
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 2;
    background: black;
    overflow: visible;
    left: -300px;
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    

}
.sidebar ul li {
    cursor: pointer;
}
@keyframes dada {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes logo {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
@keyframes img {
    0% {
        transform: translateY(800px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes imgCenter {
    0% {
        transform: translateY(800px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes titre {
    0% {
        transform: translateX(-1800px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes sousTitre {
    0% {
        transform: translateX(1800px);
    }
    100% {
        transform: translateX(0);
    }
}
@media (max-width: 1200px) {
    .ul-menu li {
        font-size: 10px;
    }
    .ul-icon li {
        font-size: 10px;
    }
    .title h1, .title h2 {
        font-size: 30px;
        /* color: white;
        font-weight: 300; */
    }
    .title h2 {
        -webkit-text-stroke: 2px white;
    }
    .container-img {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .img1 {
        width: 50%;
        justify-content: center;
        height: 100vh;
        animation: none;
        background-size: cover;
    }
    .img2 {
        width: 50%;
        height: 100vh;
        animation: none;
    }
    .img3 {
        width: 50%;
        height: 100vh;
        animation: none;
    }
}
@media (max-width: 1100px) {
    .menu {
        margin-left: 30px;
    }
    .ul-menu li {
        font-size: 10px;
    }
    .ul-icon li {
        font-size: 10px;
    }
}
@media (max-width: 800px) {
    .ul-menu li {
        font-size: 10px;
    }
    .ul-icon li {
        font-size: 10px;
    }
    .container-img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }
    .img1, .img2, .img3 {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 700px) {
    .container-img {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }
    .img1, .img2, .img3 {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 600px) {
    .menu {
        opacity: 0;
        animation: none;
    }
    .toggle_btn {
        display: block;
    }
    .container-img {
        display: block;
        padding: 0 30%;
        
    }
    .img1 {

        width: 250px;
        height: 300px;
        background-size: cover;
        
    }
    .img2 {
        width: 250px;
        height: 300px;
        
    }
    .img3 {
        width: 250px;
        height: 300px;
        background-size: cover;
    }
}
    

