* {
    box-sizing: border-box;
    margin: 0;
}
.main {
    display: flex;
    width: 100%;
    height: 75px;
    
}
.logo {
    width: 163px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 118px;
    height: 49px;
}
.choix {
    width: 941px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.choix a, i {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    font-size: 12px;
}
.reseau {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 720px;
    margin-right: 25px;
}
.reseau i {
    font-size: 10px;
    color: white;
    padding: 13px;
}
.twitter, .linkedin, .mail {
    
    border-radius: 25px;
    margin: 5px;
    width: 35px;
    height: 35px;
}
.twitter {
    background: rgb(45, 175, 218);
}
.linkedin {
    background: rgb(21, 119, 169);
}
.mail {
    background: rgb(97, 159, 195);
}
.sidebar {
    display: grid;
    grid-template-columns: 245px 1200px auto;
    grid-template-rows: 120px 250px 83px;
    grid-template-areas: 
    "titre"
    "text"
    "sous-titre";
}
.titre {
    grid-area: titre;
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}
.text {
    grid-area: text;
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}
.sous-titre {
    grid-area: sous-titre;
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    justify-self: center;
}
.titre p {
    font-size: 42px;
    letter-spacing: 1px;
}
.text p {
    color: red;
    font-size: 50px;
    letter-spacing: 1.5px;      
}
.text span {
    color: transparent;
    font-size: 35px;
}
.text .transparent {
    color: transparent;
    font-size: 55px;
}
.sous-titre p {
    font-size: 18px;
    color: #d42e47;
    letter-spacing: 2px;
    padding-left: 130px;
}
.sous-titre span {
    color: transparent;
    font-size: 40px;
    
}
.content {
    
    margin: 0 245px 0 245px;
    display: flex;
}
.content .image-blanc {
    width: 600px;
    height: 555px;
    display: grid;
    grid-template-columns: 143px 313px 143px;
    padding: 10px 10px 10px 0;
}
.content .image-blanc img {
    width: 313px;
    height: 442px;
    grid-column: 2;  
}
.formulaire {
    width: 600px;
}
.formulaire form {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 18px repeat(5, 60px) 50px;
    gap: 20px;   
}
.formulaire, form, .label1 {
    grid-column: 1;
    grid-row: 2;
}
.formulaire, form, .label2 {
    grid-column: 1;
    grid-row: 3;
}
.formulaire, form, .label3 {
    grid-column: 1;
    grid-row: 4;
}
.formulaire, form, .label4 {
    grid-column: 1;
    grid-row: 5;
}
.formulaire, form, .label5 {
    grid-column: 1;
    grid-row: 6;
}
.send {
    grid-column: 1;
    grid-row: 7;
}
.send button {
    width: 110px;
    height: 40px;
    border: transparent;
}
.content-text {
    margin: 20px 245px 0 245px;
}
.content-text p {
    letter-spacing: 1.5px;
}
.titre-red {
    text-align: center;
}
.titre-red p {
    color: #d42e47;
    font-weight: 100;
    padding-bottom: 10px;
}
.content-text li {
    letter-spacing: 1.5px;
    font-size: 15px;
}
.content-text span {
    color: #359292;
    font-size: 22px;
}
.footer {
    display: flex;
    width: auto;
    height: 380px;
    margin-top: 30px;
    background: #5bb99e;
}
.etat-de-connexion {
    display: grid;
    padding-top: 30px;
    margin-left: 228px;
    grid-template-columns: 380px;
    grid-template-rows: 30px 20px 40px 16px 40px;
}
.etat-de-connexion input {
    border: 1px solid white;
}
.etat-de-connexion input:hover {
    border: 1px solid red;
}
.etat-de-connexion h3 {
    color: white;
    font-weight: 100;
    margin-bottom: 10px;
}
.connect {
    
    margin-top: 20px;
    margin-right: 10px;
}
.connect a {
    color: white;
    text-decoration: none;   
}
.connect .se-connect {
    margin-right: 20px;
}
.contacter-info {
    display: grid;
    grid-template-columns: 380px;
    grid-template-rows: 85px 30px 25px 30px;
    padding-left: 100px;
    align-items: center;
}
.contacter-info h3 {
    color: white;
    font-weight: 100;
}
.suggestions {
    display: grid;
    padding-top: 20px;
    grid-template-columns: 260px;
    grid-template-rows: 120px 3.8em 47px 44px 25px;
}
.suggestions img {
    align-items: flex-end;
}
.suggestions .atheme-sugg {
    font-size: 3.8em;
    align-items: flex-start;
    padding-top: 0;
    color: rgb(254,205,165);
}
.suggestions h3 {
    display: flex;
    color: white;
    font-weight: 100;
    align-items: center;
}
.suggestions .suggestion {
    display: flex;
    align-items: center;
}
.atheme-hebdo {
    display: flex;
    align-items: center;
}
.atheme-hebdo a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.hover:hover {
    color: transparent;
}
.oublie:hover {
    color: transparent;
}
.footer-last {
    width: 640px;
}
.footer-last-left {
    display: flex;
    margin-left: 228px;
    
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 200;
} 
.footer-last-left a {
    text-decoration: none;
    
}
.footer-white {
    display: flex;
    width: 100%;
    height: 36px;
    padding-left: 245px;
    
}
.footer-grid {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: repeat(3, 12px);
    grid-template-areas: 
    "footer-grid";
}
.footer-grid p {
    letter-spacing: 1px;
}
.footer-grid a {
    text-decoration: none;
    color: #339966;
}
.footer-grid-right {
    margin-left: 30px;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: repeat(3, 12px);
    grid-template-areas: 
    "bienvenue-pod"
    "kit"
    "docs";
}
.footer-grid-right a {
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 14px;
    color: transparent;
}
.footer-grid-right a:hover {
    color: #339966;
}
