* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 210px 905px 40px;
    grid-template-rows: 100px;
    grid-template-areas: 
    "logo menu icon icon-reseau";   
}
.menu-js {
    transform: rotate(5deg);
    background: lightgrey;
    border-radius: 30px;
    transition: 0.5s;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px 0 25px;
}
.logo:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    zoom: 1;
    transition: 0.7s ease-in-out;
}
.logo img{
    grid-area: logo;
    width: 117px;
    height: 49px;  
}
.menu {
    grid-area: menu;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    
    
}
.menu  a {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    text-decoration: none;
    font-family:inherit;
    text-transform: uppercase;
    color: rgb(77, 68, 68);
    font-weight: bold;
}
.menu a::after{
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    margin: auto; 
    background: teal;
    transition: 0.6s;
}
.menu a:hover::after {
    width: 100%;
}

.menu a:hover {
    color: teal;
    transition: .5s;
    
}
.theme {
    padding: 0 ;
    display: flex;
    flex-direction: column;
    top: 73px;
    position: absolute;
    z-index: 10000;
    left: 735px;
    list-style: none;
    height: 540px;
    background: #ffffffba;
    opacity: 0;
}
.theme li {
    padding-top: 15px;
    padding-left: 5px;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    align-items: center;
    font-size: 1.2em;
    color: black;
    cursor: pointer;
}
.theme-visible {
    opacity: 1;
    transition: 0.6s;
}
.icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(77, 68, 68);
    margin-left: 20px;
   
}

.icon-reseau {
    grid-area: icon-reseau;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 25px;
}
.linkedin, .mail {
    padding: 10px;
    border: 2px solid;
    border-radius: 25px;
    margin: 5px;
    font-size: 10px;
    color: white;
}
.linkedin {
    background: rgb(21, 119, 169);
}
.linkedin i {
    color: #fff;
}
.mail {
    background: rgb(97, 159, 195);
}
.mail i {
    color: #fff;
}
.content {
    position: relative;
    background: #E7E3E2;
    display: flex;
}
.content img {
    width: 706px;
    height: 562px;
    margin-left: 200px;
}
.search {
    position: absolute;
    left: 60%;
    width: 260px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    opacity: 0;
}
.show-response {
    opacity: 1;
}
.search input {
    height: 40px;
    padding: 20px;
}
.text-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 503px;
    height: 135px;
    margin: 12% 0;
    padding-right: 50px;
    line-height: 45px;
    letter-spacing: 3px;
}
.text-content p {
    font-size: 45px;
}
.title-text {
    height: 100px;
    padding-top: 50px;
}

h1 {
    color: teal;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}
.logo-big, .presentation {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 3;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    font-size: 2em;
    color: white;
}
.presentation p {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo-big, .decourt {
    display: grid;
    grid-column: 2;
    grid-row: 4;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;  
}
button {
    color: rgb(114, 108, 108);
    text-decoration: none;
    border-radius: 5px;
    height: 50px;
    width: 160px;
    border: 1px solid white;
}
.bouton1 {
    display: flex;
    justify-content: center;
    border: transparent solid lightgrey;
    
}
.sidebar {
    width: 935px;
    height: 470px;
    margin: 0 25%;
    display: grid;
    grid-template-rows: 40px 63px 93px 30px 70px 42px;
    font-size: 1.2em;
}
.sidebar p a {
    text-decoration: none;
    color: #735959;
}
.sidebar p, li{
    color: #735959;
    letter-spacing: 0.4px;
}
.sidebar span:hover {
    color: teal;
    cursor: pointer;
    transition: 0.3s;
}
.sidebar ul {
    padding-left: 17px;
}
.title-four-points {
    margin: 5% 25% 0 25%;
    height: 100px;
    
}
.title-four-points h1 {
    font-size: 3em;
}
.four-img-text {
    display: flex;
    margin: 0 25%;
}
.four-img-text h2 {
    padding: 20px 0;
}
#img {
    text-align: center;
    padding: 10px;
}
.big-button {
    display: flex;
    justify-content: center;
    margin: 50px 25%;
}

.button-test  button {
    padding: 10px;
    text-align: center;
    width: 355px;
    height: 105px;
    border-radius: 20px;
    background: teal;
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;
    cursor: pointer;
}
.button-test  button:hover {
    background: #ff6900;
}
.big-discover {
    width: 100%;
    height: 450px;
    background: #e7e3e24d;
}
.discover {
    margin: 0 25%;
    padding: 30px;
    
}
.first-text {
    margin-top: 50px;
    padding: 0 110px;
}
.first-text p {
    color: teal;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
    
}
.second-text, .third-text {
    padding: 20px;
}
.second-text p, .third-text p {
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #919090;
}
#button {
    margin: 30px 40%;
    border-radius: 50px;
    color: black;
    border: 2px solid black;
    font-size: 1.1em;
    background: #fff;
}
.button-opacity:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    zoom: 1;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}
.bouton {
    text-align: center;
    margin-top: 50px;
}
.cadre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 35%;
    height: 700px;
    background: #fff;
    flex-direction: column;
}
.asidebar {
    margin-left: 228px;
    display: grid;
    grid-template-columns: 376px;
    grid-template-rows:  270px 275px 300px;   
}
.asidebar-img {
    grid-row: 1;
    display: flex;
    align-items: center;
}
.asidebar-text  {
    text-align: center;
    grid-row: 2;
    padding: 20px;
    display: flex;
    padding-top: 10px;
    font-size: 1.3em;
    color: #919090;  
}
#label {
    padding-top: 20px;
}
.send {
    margin: 0 35%;
}
.temoignages {
    height: 60px;
}
.temoignages h1 {
    color: black;
}
.swiper {
    background: #e7e3e24d;
    width: 100%;
    height: 650px;
}
.content-bis {
   width: 700px; 
   height: 387px;
   margin: 100px auto;
   overflow: hidden; 
}
.slider-container {
    margin: 0 12%;
    display: flex;
    animation: slide 12s infinite ease-in-out;  
}
.text-p-slider {
    width: 500px;
    height: 155px;
    text-align: center;
    padding-top: 20px;   
}
.text-p-slider-1 {
    width: 500px;
    height: 155px;
    text-align: center;   
}
.acb, .savoie, .web, .unknown {
    height: 10px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes  slide{
    0%, 
    20% {
        transform: translateX(0);
    }
    25%, 
    45% {
        transform: translateX(-625px);
    }
    50%, 
    70% {
        transform: translateX(-1260px);
    }
    75%, 
    95% {
        transform: translateX(-1890px);
    }
    100% {
        transform: translateX(-2500px);
    }
}
.nigel, .stephanie, .julie, .chrystele {
    width: 87px;
    height: 87px;
    
}
.nigel-name, .stephanie-name, .julie-name, .chrystele-name {
    padding-left: 20px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.285) ;
}
.nigel-name h4, .stephanie-name h4, .julie-name h4, .chrystele-name h4 {
    color: #867878;
}

.acb img,.julie img, .stephanie img, .chrystele img {
    width: 87px;
    height: 87px;
    border-radius: 1000px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.285) ;
}
.acb p, .savoie p, .web p, .unknown p {
    display: flex;
    font-size: 1em;
    color: #ee916eb8;
}
.cadre-un, .cadre-deux, .cadre-trois, .cadre-quatre {
    width: 100%; 
   height: 287px;
   flex-shrink: 0;
   text-align: center;
   margin-right: 100px;
}
.text-acb, .text-savoie, .text-web, .text-unknown {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    line-height: 20px;
    color: rgb(143, 132, 132);
    background: #fff;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.285) ;
}
.text-web p {
    padding-top: 30px;
    
}
.text-p-slider {
    font-size: 1.2em;
}
.blog-content {
    display: flex;
    gap: 5%;
    margin-left: 228px;
    margin-right: 228px;
    height: 400px;
}
.comptes-france  {
    display: flex;
    width: 380px;
    height: 152px;
    align-items: center;
    justify-content: center;
    background-color: #3b5987;
    color: white;  
}
.comptes-france h3 {
    font-weight: 100;
}
.titre {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.titre h1 {
    color: black;
}
.div-three, .div-two, .div-one {
    position: relative;
}
.digitalisation {
    display: flex;
}
.span-rose {
    background: rgb(238,44,130);
    padding: 8px 10px;
}
.digitalisation h2 {
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    
    padding-bottom: 20px;
}
.blog-content .comptes-france-text {
    line-height: 25px;
    font-size: 1.1em;
}
.lire-article {
    position: absolute;
    background:rgb(238,44,130);
    color: white;
    font-size: 0.75em;
    left: 0;
    top: 330px;
}
.modulo-bis {
    display: flex;
}
.modulo-bis h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 20px;
}
.comptes-france-bis {
    display: flex;
    height: 80px;
}
.span-rose-last {
    background: rgb(238,44,130);
    padding: 8px 10px;
}
.comptes-france-bis h2 {
    font-size: 1.2em;
    padding-right: 84px;
}
.slider {
    position: relative;
    overflow: hidden;
    width: 75%;
    left: 228px;
    
} 
.sliders {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 228px;
    margin-right: 228px;
    gap: 25%;
    animation: dada 30s  infinite;
}
.left {
    position: absolute;
    top: 50px;
    left: 20px;
    cursor: pointer;
}
.right {
    position: absolute;
    top: 50px;
    left: 1235px;
    cursor: pointer;
}
@keyframes dada {
    0% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-500px);
    }
    15% {
        transform: translateX(-500px);
    }
    20% {
        transform: translateX(-1000px);
    }
    25% {
        transform: translateX(-1000px);
    }
    30% {
        transform: translateX(-1500px);
    }
    35% {
        transform: translateX(-1500px);
    }
    40% {
        transform: translateX(-2000px);
    }
    45% {
        transform: translateX(-2000px);
    }
    50% {
        transform: translateX(-2500px);
    }
    55% {
        transform: translateX(-2500px);
    }
    60% {
        transform: translateX(-3000px);
    }
    65% {
        transform: translateX(-3000px);
    }
    70% {
        transform: translateX(-3500px);
    }
    75% {
        transform: translateX(-3500px);
    }   
}

.footer {
    display: flex;
    width: auto;
    height: 380px;
    margin-top: 30px;
    background: #edeaeaaa;
}
.etat-de-connexion {
    display: grid;
    padding-top: 30px;
    margin-left: 228px;
    grid-template-columns: 380px;
    grid-template-rows: 30px 20px 40px 16px 40px;
}
.etat-de-connexion input {
    border: 1px solid white;
}
.etat-de-connexion input:hover {
    border: 1px solid red;
}
.etat-de-connexion h3 {
    color: rgb(170, 167, 167);
    font-weight: 100;
    margin-bottom: 10px;
}
.connect {
    
    margin-top: 20px;
    margin-right: 10px;
}
.connect a {
    color: rgb(170, 167, 167);
    text-decoration: none;   
}
.connect .se-connect {
    margin-right: 20px;
}
.contacter-info {
    display: grid;
    grid-template-columns: 380px;
    grid-template-rows: 85px 30px 25px 30px;
    padding-left: 100px;
    align-items: center;
}
.contacter-info h3 {
    color: rgb(170, 167, 167);
    font-weight: 100;
}
.suggestions {
    display: grid;
    padding-top: 20px;
    grid-template-columns: 260px;
    grid-template-rows: 120px 3.8em 47px 44px 25px;
}
.suggestions img {
    align-items: flex-end;
}
.suggestions .atheme-sugg {
    font-size: 3.8em;
    align-items: flex-start;
    padding-top: 0;
    color: rgb(254,205,165);
}
.suggestions h3 {
    display: flex;
    color: rgb(170, 167, 167);
    font-weight: 100;
    align-items: center;
}
.suggestions .suggestion {
    display: flex;
    align-items: center;
}
.atheme-hebdo {
    display: flex;
    align-items: center;
}
.atheme-hebdo a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.hover:hover {
    color: transparent;
}
.oublie:hover {
    color: transparent;
}
.footer-last {
    width: 640px;
}
.footer-last-left {
    display: flex;
    margin-left: 228px;
    
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 200;
} 
.footer-last-left a {
    text-decoration: none;
}
.footer-white {
    display: flex;
}
.footer-hidden {
    margin-left: 30px;
}
.footer-hidden a {
    text-decoration: none;
}
.footer-hidden .mot-cache span {
    color: transparent;
    letter-spacing: 0.8px;
}
.footer-hidden .mot-cache span:hover {
    color: #5bb99e;
    letter-spacing: 0.8px;
}


