* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 210px 905px 40px;
    grid-template-rows: 100px;
    grid-template-areas: 
    "logo menu icon icon-reseau";   
}
.menu-js {
    transform: rotate(5deg);
    background: lightgrey;
    border-radius: 30px;
    transition: 0.5s;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px 0 25px;
}
.logo:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    zoom: 1;
    transition: 0.7s ease-in-out;
}
.logo img{
    grid-area: logo;
    width: 117px;
    height: 49px;  
}
.menu {
    grid-area: menu;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    
    
}
.menu  a {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    text-decoration: none;
    font-family:inherit;
    text-transform: uppercase;
    color: rgb(77, 68, 68);
    font-weight: bold;
}
.menu a::after{
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    margin: auto; 
    background: teal;
    transition: 0.6s;
}
.menu a:hover::after {
    width: 100%;
}

.menu a:hover {
    color: teal;
    transition: .5s;
    
}
.icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(77, 68, 68);
    margin-left: 20px;
   
}

.icon-reseau {
    grid-area: icon-reseau;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 25px;
}
.linkedin, .mail {
    padding: 10px;
    border: 2px solid;
    border-radius: 25px;
    margin: 5px;
    font-size: 10px;
    color: white;
}
.linkedin {
    background: rgb(21, 119, 169);
}
.linkedin i {
    color: #fff;
}
.mail {
    background: rgb(97, 159, 195);
}
.mail i {
    color: #fff;
}
.content {
   background: #E7E3E2;
   display: flex;
}
.content img {
    width: 706px;
    height: 562px;
    margin-left: 200px;
}
.text-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 503px;
    height: 135px;
    margin: 12% 0;
    padding-right: 50px;
    line-height: 45px;
    letter-spacing: 3px;
}
.text-content p {
    font-size: 45px;
}
.title-text {
    height: 100px;
    padding-top: 50px;
}

h1 {
    color: teal;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}
.logo-big, .presentation {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 3;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    font-size: 2em;
    color: white;
}
.presentation p {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo-big, .decourt {
    display: grid;
    grid-column: 2;
    grid-row: 4;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;  
}
button {
    color: rgb(114, 108, 108);
    text-decoration: none;
    border-radius: 5px;
    height: 50px;
    width: 160px;
    border: 1px solid white;
}
.bouton1 {
    display: flex;
    justify-content: center;
    border: transparent solid lightgrey;
    
}
.sidebar {
    width: 935px;
    height: 470px;
    margin: 0 25%;
    display: grid;
    grid-template-rows: 40px 63px 93px 30px 70px 42px;
    font-size: 1.2em;
}
.sidebar p, li{
    color: #735959;
    letter-spacing: 0.4px;
}
.sidebar span:hover {
    color: teal;
    cursor: pointer;
    transition: 0.3s;
}
.sidebar ul {
    padding-left: 17px;
}
.title-four-points {
    margin: 5% 25% 0 25%;
    height: 100px;
    
}
.title-four-points h1 {
    font-size: 3em;
}
.four-img-text {
    display: flex;
    margin: 0 25%;
}
.four-img-text h2 {
    padding: 20px 0;
}
#img {
    text-align: center;
    padding: 10px;
}
.big-button {
    display: flex;
    justify-content: center;
    margin: 50px 25%;
}

.button-test  button {
    padding: 10px;
    text-align: center;
    width: 355px;
    height: 105px;
    border-radius: 20px;
    background: teal;
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;
    cursor: pointer;
}
.button-test  button:hover {
    background: #ff6900;
}
.bouton {
    text-align: center;
    margin-top: 50px;
}
.cadre {
    display: flex;
    height: 600px;
    background: rgb(245, 245, 245);
}
.asidebar {
    margin-left: 228px;
    display: grid;
    grid-template-columns: 376px;
    grid-template-rows:  270px 175px 300px;   
}
.asidebar-img {
    grid-row: 1;
    display: flex;
    align-items: center;
}
.asidebar-text  {
    grid-row: 2;
    display: flex;
    padding-top: 10px;
    font-size: 27px;
    color: #359292;  
}
.formulaire {
    padding-left: 20px;
}
.formulaire form {
    display: grid;
    padding-right: 240px;
    grid-template-rows: repeat(5, 90px);
    flex-wrap: wrap;
}
.formulaire form .label1 {
    grid-row: 1;
    padding: 10px 0 10px 0;
}
.formulaire form .label2 {
    grid-row: 2;
    align-items: center;
}
.formulaire form .label3 {
    grid-row: 3;
}
.formulaire form .label4 {
    grid-row: 4;
}
.formulaire form .label5 {
    grid-row: 5;
}
.content-bis {
    margin: 0 228px 0 228px;
    display: grid;
    grid-template-columns: 592px 592px;
    grid-template-rows: repeat(4, 295px);
    grid-template-areas: 
    "un acb"
    "savoie deux"
    "trois web"
    "rainbow quatre";
}
.h2-acb {
    padding-top: 40px;
    
}
.h2-acb h2 {
    font-weight: 200;
}
.un .text-acb {
    grid-area: un;
    padding-top: 20px;
    font-size: 16px;
    color: rgb(143, 132, 132);
}
.un .text-acb .p-atheme {
    padding-top: 20px;
}
.acb {
    grid-area: acb;
    display: flex;
    justify-content: center; 
    align-items: center;  
}
.savoie {
    grid-area: savoie;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deux {
    grid-area: deux;
    padding-top: 40px;
}
.deux h2 {
    font-weight: 200;
}
.deux p {
    padding-top: 30px;
    color: rgb(143, 132, 132);
}
.trois {
    grid-area: trois;
    padding-top: 60px;
}
.trois .h2-web h2 {
    
    font-weight: 200;
}
.trois p {
    padding-top: 50px;
    color: rgb(143, 132, 132);
}
.web {
    grid-area: web;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rainbow {
    grid-area: rainbow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quatre {
    grid-area: quatre;
    padding-top: 60px;
}
.quatre .h2-unknown h2 {
    font-weight: 200;
}
.quatre p {
    padding-top: 40px;
    color: rgb(143, 132, 132);
}
.blog-content {
    display: flex;
    gap: 5%;
    margin-left: 228px;
    margin-right: 228px;
}
.comptes-france  {
    display: flex;
    width: 380px;
    height: 152px;
    align-items: center;
    justify-content: center;
    background-color: #3b5987;
    color: white;  
}
.comptes-france h3 {
    font-weight: 100;
}
.comptes-france-bis h2 {
    font-size: 2em;
    font-weight: 100;
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-content .comptes-france-text {
    line-height: 25px;
    font-size: 1.1em;
}
.lire-article {
    background: #00C1CF;
    color: white;
    font-size: 1.1em;
}
.modulo {
    display: flex;
    width: 380px;
    height: 152px;
    align-items: center;
    text-align: center;
    background-color: #3b5987;
    color: white;
}
.modulo h3 {
    font-weight: 100;
}
.modulo-bis h2 {
    font-size: 1.8em;
    font-weight: 100;
    padding-top: 20px;
    padding-bottom: 20px;
}
.bouton-more {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    padding-left: 30px;
    border-radius: 5px;
    margin-top: 20px;
}
.load-more {
    font-size: 14px;
}
.slider {
    position: relative;
    overflow: hidden;
    width: 75%;
    left: 228px;
    
} 
.sliders {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 228px;
    margin-right: 228px;
    gap: 25%;
    animation: dada 30s  infinite;
}
.left {
    position: absolute;
    top: 50px;
    left: 20px;
    cursor: pointer;
}
.right {
    position: absolute;
    top: 50px;
    left: 1235px;
    cursor: pointer;
}
@keyframes dada {
    0% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-500px);
    }
    15% {
        transform: translateX(-500px);
    }
    20% {
        transform: translateX(-1000px);
    }
    25% {
        transform: translateX(-1000px);
    }
    30% {
        transform: translateX(-1500px);
    }
    35% {
        transform: translateX(-1500px);
    }
    40% {
        transform: translateX(-2000px);
    }
    45% {
        transform: translateX(-2000px);
    }
    50% {
        transform: translateX(-2500px);
    }
    55% {
        transform: translateX(-2500px);
    }
    60% {
        transform: translateX(-3000px);
    }
    65% {
        transform: translateX(-3000px);
    }
    70% {
        transform: translateX(-3500px);
    }
    75% {
        transform: translateX(-3500px);
    }   
}
.cadre-contact {
    display: flex;
}
.card-visit {
    padding-left: 228px;
    display: grid;
    height: 586px;
    width: 50%;
    grid-template-rows: repeat(10, auto);
    justify-content: center;
    align-items: center;
}
.mailto-cadre {
    display: flex;
    background:  #1d9bf0;
    width: 210px;
    height: 22px;
    vertical-align: middle;
    align-items: center;
    border-radius: 25px;  
}
.mailto-cadre a {
    color: white;
    text-decoration: none;
}
.card-visit h3 {
    padding-top: 20px;
}
.formulaire-bis {
    display: grid;
    margin-right: 228px;
}
.cadre-message {
    margin-top: 10px;  
}
.cadre-message textarea {
    height: 250px;
    width: 790px;  
}
.send {
    margin-top: 20px;
}
.footer {
    display: flex;
    width: auto;
    height: 380px;
    margin-top: 30px;
    background: #5bb99e;
}
.etat-de-connexion {
    display: grid;
    padding-top: 30px;
    margin-left: 228px;
    grid-template-columns: 380px;
    grid-template-rows: 30px 20px 40px 16px 40px;
}
.etat-de-connexion input {
    border: 1px solid white;
}
.etat-de-connexion input:hover {
    border: 1px solid red;
}
.etat-de-connexion h3 {
    color: white;
    font-weight: 100;
    margin-bottom: 10px;
}
.connect {
    
    margin-top: 20px;
    margin-right: 10px;
}
.connect a {
    color: white;
    text-decoration: none;   
}
.connect .se-connect {
    margin-right: 20px;
}
.contacter-info {
    display: grid;
    grid-template-columns: 380px;
    grid-template-rows: 85px 30px 25px 30px;
    padding-left: 100px;
    align-items: center;
}
.contacter-info h3 {
    color: white;
    font-weight: 100;
}
.suggestions {
    display: grid;
    padding-top: 20px;
    grid-template-columns: 260px;
    grid-template-rows: 120px 3.8em 47px 44px 25px;
}
.suggestions img {
    align-items: flex-end;
}
.suggestions .atheme-sugg {
    font-size: 3.8em;
    align-items: flex-start;
    padding-top: 0;
    color: rgb(254,205,165);
}
.suggestions h3 {
    display: flex;
    color: white;
    font-weight: 100;
    align-items: center;
}
.suggestions .suggestion {
    display: flex;
    align-items: center;
}
.atheme-hebdo {
    display: flex;
    align-items: center;
}
.atheme-hebdo a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.hover:hover {
    color: transparent;
}
.oublie:hover {
    color: transparent;
}
.footer-last {
    width: 640px;
}
.footer-last-left {
    display: flex;
    margin-left: 228px;
    
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 200;
} 
.footer-last-left a {
    text-decoration: none;
}
.footer-white {
    display: flex;
}
.footer-hidden {
    margin-left: 30px;
}
.footer-hidden a {
    text-decoration: none;
}
.footer-hidden .mot-cache span {
    color: transparent;
    letter-spacing: 0.8px;
}
.footer-hidden .mot-cache span:hover {
    color: #5bb99e;
    letter-spacing: 0.8px;
}


