* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @font-face {
        font-family: font1;
        src: url("./assets/fonts/EBGaramond-VariableFont_wght.ttf");
    }
    list-style: none;
    
}
body {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.283);
}

.header {
    display: flex;
    max-width: 100%;
    height: 100px;
    
    align-items: center;
}

.title {
    width: 10%;
    flex-wrap: wrap;
    text-align: center;
}
.h1 {
    font-size: 2rem;
}

.navbar {
    
    width: 70%;
    height: 100px;
}
ul {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    cursor: pointer;
}

.language {
    width: 5%;
    
    display: flex;
    justify-content: space-around;
}

p {
    cursor: pointer;
}

#fr {
    border-right: 1px solid black;
    padding: 0 12px;
}

.icons {
    display: flex;
    width: 15%;
    justify-content: center;
    
}

svg {
    margin: 0 5px;
    cursor: pointer;
}



.form{
    margin-top: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(-200px);
    transition: 0.7s ease;
}
.formActive {
    opacity: 1;
    transform: translateY(0);
}
input {
    width: 400px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.344);
    background: rgba(125, 116, 116, 0.283);
    border: none;
    
}

.boutonUpDown {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
    border: none;
}

.btnSort{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
    height: 50px;
    background: rgba(125, 116, 116, 0.283);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.344);
    cursor: pointer;
}

#minToMax{
    border-right: 2px solid white;
    border-radius: 20px 0 0 20px;
    
}

#maxToMin {
    border-radius: 0 20px 20px 0;
    
}

#arrow {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 1.8rem;
}

.card-container {
    max-width: 60%;
    min-height: 500px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}
.card {
    max-width: 250px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 0.5px solid rgba(210, 197, 197, 0.592);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.344);
}
.card img {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    
}
h1 {
    padding-left: 5px;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    font-size: 0.8rem;
    
}


.compo{
    padding-left: 5px;
    height: 50px;
}
.select {
    padding: 0 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    
}
h4 {
    padding-right: -20px;
}

#span {
    font-weight: 200;
    font-size: 0.9rem;
}

.btn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    padding: 8px 4px;
    background: transparent;
    cursor: pointer;
}
.btn:hover {
    scale: 1.3;
    transition: 0.5s ease-in-out;
}