.container {
    min-width: 100%;
    min-height: 100vh;

    .section1 {
        margin: 10px 0;
        display: flex;
        height: 450px;
        color: $color1;
        box-shadow: 0 0 5px white;

        .box-left {
            width: 50%;
            background: white;

            .box-left-inside {
                margin: 20px;
                height: 410px;
                padding: 30px 20px;
                border: 1px dashed grey;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

                h1 {
                    font-family: "allura";
                    color: rgb(139, 102, 59);
                    display: flex;
                    justify-content: center;
                    align-items: end;
                }

                h2 {
                    @include center;
                }

                img {
                    width: 40px;
                    height: 40px;
                    margin: 0 auto;
                }

                .text-inside {
                    text-align: center;
                    font-size: 1rem;
                }
                .img-avatar {
                    padding-top: 10px;
                    border-radius: 150px;
                }

                h3 {
                    text-align: center;
                    letter-spacing: 1px;
                    font-family: "pop";
                }
                
            }

            p {
                text-align: center;
                color: rgb(192, 185, 185);
                font-size: 0.9rem;
            }
        }
        .box-right {
            width: 50%;
            height: 450px;
            background-image: url("/assets/img/store-01.jpg");
            background-size: cover;
            object-fit: cover;
            background-position: center;
        }
    }

    .section2 {
            position: relative;
            width: 100%;
            height: 921px;
            color: $color2;

            .menubg {
                position: absolute;
                top: 300px;
                z-index: -3;
                width: 100%;
                background-size: cover;
                object-fit: cover;
            }

            .title {
                margin-top: 50px;
                text-align: center;

                @include img;

                img {
                    padding: 20px 0;
                }
            }

            .menu {
                width: 60%;
                height: 50px;
                margin: 0 20%;

                ul {
                    height: 50px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    li {
                        list-style: none;
                        font-family: "rob";
                        cursor: pointer;

                        &::after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 10px;
                            border-bottom: 1px solid $color2;
                        }
                    }
                }
            }

            .tableau {
                width: 55%; 
                height: 650px;
                margin: 20px auto;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(4, 150px);
                color: $color1;
                background: $color2;
                border-radius: 10px;
                box-shadow: 0 -5px 0 rgb(139, 102, 59);

                .italian, .fried, .tenu, .roast, .salted, .crab, .imported, .baked {
                    display: grid;
                    width: 370px;
                    height: 150px;
                    grid-template-columns: 70px 250px 50px;
                    margin: 20px;
                    border-bottom: 1px dashed grey;

                    .img-dish {
                        @include center;
                        
                        img {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                        }
                    }

                    .text {
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        flex-wrap: wrap;
                        height: 50px;
                        margin: auto 0;
                        padding: 0 0 0 8px;

                        h2 {
                            
                            width: 300px;
                            font-size: 0.8rem;
                            color: rgba(69, 62, 62, 0.889);
                        }

                        p {
                            font-size: 0.8rem;
                            width: 70%;
                            font-family: "rob";
                        }
                    }

                    .price {
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 0 8px 0;
                        p {
                            font-family: "rob";
                            color: $color3;
                            font-weight: bold;
                            font-size: 1.1rem;
                        }
                    }
                }
            }
    }
    .section3 {
        max-width: 1000px;
        min-height: 400px;
        margin: 60px auto;
        display: grid;
        grid-template-columns: 1fr 3fr;

        .info {

            background: black;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            .info-cadre {
                display: grid;
                margin: 20px;
                border: 1px dashed $color3;
                min-height: 400px;

                .info-title {
                    @include center;
                    flex-direction: column;

                    h1 {
                        font-family: "allura";
                        color: $color3;
                    }

                    h2 {
                        font-family: "pop";
                        font-weight: bold;
                    }
                    
                    .info-img {
                        padding-top: 20px;
                    }
                }

                .store-time-one {
                    display: flex;
                    flex-direction: column;

                    p {
                        text-align: center;
                        color: $color3;
                        font-weight: bold;
                    }

                    .size {
                        font-size: 0.9rem;
                        color: $color2;
                    }
                }

                .store-time-last {
                    display: flex;
                    flex-direction: column;

                    p {
                        text-align: center;
                        color: $color3;
                        font-weight: bold;
                    }

                    .size {
                        font-size: 0.9rem;
                        color: $color2;
                    }
                }

                .number {
                    text-align: center;
                    color: $color3;
                    font-weight: bold;
                }
                
            }
        }
        .cadre-blanc {
            background: $color2;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            .cadre-resto {
                margin-top: 50px;
                @include center;
                flex-direction: column;

                h1 {
                    font-family: "allura";
                    color: $color3;
                    font-size: 2.5rem;
                    font-weight: 100;
                }

                h2{
                    color: $color1;
                    font-family: "pop";
                    
                }

                .info-img {
                    margin: 20px;
                }
            }

            .form {
                height: 100px;

                form {
                    height: 100px;
                    margin: 0 40px;
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    

                    select, input {
                        border: none;
                        background: none;
                        border-bottom: 1px solid grey;
                        width: 80%;
                    }
                }
            }

            .bouton-now {
                @include center;
                margin-top: 20px;

                .btn {
                    background: $color1;
                    color: $color2;
                    border-radius: 50px;
                    border: none;
                    font-family: "pop";
                    padding: 15px 50px;
                }
            }
        }
    }

    .section4 {
        max-width: 100%;
        min-height: 800px;

        .title {
            @include center;
            flex-direction: column;
            margin-top: 50px;

            h1 {
                color: $color3;
                font-family: "allura";
                font-size: 3rem;
                font-weight: 100;
            }

            h2 {
                font-family: "pop";
                font-size: 2.7rem;
            }

            img {
                width: 30px;
                height: 30px;
                margin: 20px 0;
            }
        }

        .cadre-container {
            width: 55%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 55% 43%;
            gap: 10px;

            .cadre-left {
                display: grid;
                grid-template-rows: 1fr 1fr;
                row-gap: 10px;

                .cadre-haut {
                    display: grid;
                    grid-template-columns: 30% 70%;

                    .box-left {
                        background-image: url(/assets/img/event-01.jpg);
                        background-size: cover;
                        object-fit: cover;
                        @include center;

                        .day {
                            position: relative;
                            width: 40%;
                            height: 40%;
                            background: $color1;

                            span {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                text-align: center;
                            }
                        }
                    }

                    .box-right {
                        background: $color2;
                        color: $color1;
                        display: grid;
                        grid-template-rows: 60px 60px;
                        

                        h1 {
                            font-size: 0.95rem;
                            padding-left: 15px;
                            display: flex;
                            align-items: end;
                            color: rgb(118, 116, 116);
                            font-weight: 100;
                        }

                        .text-info {
                            display: flex;
                            font-size: 0.8rem;
                            color: rgb(192, 184, 184);
                            align-items: center;
                            
                            i {
                                padding: 0 5px 0 10px;
                            }

                        }

                        h2 {
                            padding: 0 0 0 10px;
                            font-size: 0.95rem;
                            cursor: pointer;
                        }
                    }
                }

                .cadre-bas {
                    display: grid;
                    grid-template-columns: 30% 70%;

                    .box-left {
                        background-image: url(/assets/img/event-02.jpg);
                        background-size: cover;
                        object-fit: cover;
                        @include center;

                        .day {
                            position: relative;
                            width: 40%;
                            height: 40%;
                            background: $color1;

                            span {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                text-align: center;
                            }
                        }
                    }

                    .box-right {
                        background: $color2;
                        color: $color1;
                        display: grid;
                        grid-template-rows: 60px 60px;
                        

                        h1 {
                            font-size: 0.95rem;
                            padding-left: 15px;
                            display: flex;
                            align-items: end;
                            color: rgb(118, 116, 116);
                            font-weight: 100;
                        }

                        .text-info {
                            display: flex;
                            font-size: 0.8rem;
                            color: rgb(192, 184, 184);
                            align-items: center;
                            
                            i {
                                padding: 0 5px 0 10px;
                            }

                        }

                        h2 {
                            padding: 0 0 0 10px;
                            font-size: 0.95rem;
                            cursor: pointer;
                        }
                    }
                }
            }

            .cadre-right {
                background-image: url(/assets/img/event-03.jpg);
                background-size: cover;
                object-fit: cover;

                .cadre-right-blanc {
                    background: $color2;
                    margin: 5%;
                    height: 90%;
                    position: relative;

                    .day {
                        margin: 0 auto;
                        @include center;
                        width: 25%;
                        height: 25%;
                        background: $color1;
                        

                        span {
                            text-align: center;
                            
                        }
                    }

                    .thous {
                        color: $color1;
                        display: grid;
                        grid-template-rows: 40px 80px 30px;
                        margin-top: 20px;

                        h1 {
                            width: 70%;
                            margin: 0 auto;
                            font-size: 1.2rem;
                            text-align: center;
                        }

                        .text-info {
                            display: flex;
                            font-size: 0.8rem;
                            color: rgb(192, 184, 184);
                            align-items: center;
                            justify-content: center;

                            i {
                                padding: 0 5px 0 
                            }
                        }

                        h2 {
                            font-size: 0.95rem;
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}