.footer {
    background-image: url("/assets/img/bg-footer.jpg");
    background-size: cover;
    object-fit: cover;
    max-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width:1300px) {
        display: grid;
        grid-template-columns: 1fr;
        background: none;
        
    }

    .box-footer-left {
        width: 60%;
        margin: 30px 20px 30px 240px;

        @media screen and (max-width:1300px) {
            margin: 30px auto;
            text-align: center;
        }

        h1 {
            font-family: "allura";
            color: $color3;
        }

        p {
            line-height: 2rem;
            color: rgb(154, 142, 142);
        }
    }

    .box-footer-right {
        width: 60%;
        margin: 30px 20px 30px 40px;
        
        display: grid;
        grid-template-rows: 1fr 1fr;

        @media screen and (max-width:1300px) {
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            justify-self: center;
        }

        form {
            
            display: flex;
            flex-direction: column;

            @media screen and (max-width:1300px) {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            label {
                font-size: 0.9rem;
                color: rgb(154, 142, 142);
            }

            input {
                margin-top: 10px;
                height: 25px;
                background: none;
                border: 1px solid rgb(110, 107, 107);
                width: 60%;
            }
        }

        .reseau-footer {
            display: flex;
            width: 60%;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width:1300px) {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }

            h1 {
                font-size: 0.8rem;
            }

            i {
                cursor: pointer;

                @media screen and (max-width:1300px) {
                    margin-left: 5px;
                }
            }
        }
    }
}